* {
    margin: 0;
    padding: 0;
    font-family: "DynaPuff", system-ui;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #636363;
}

.carrossel-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.carrossel {
    position: relative;
    width: 100%;
    height: 100%;
}

.carrossel img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease;
}


.carrossel img.active {
    opacity: 0.3;
}

.carrossel-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.carrossel {
    position: relative;
    width: 100%;
    height: 100%;
}

.carrossel img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    opacity: 0;
    transition: opacity 1s ease;
}

.carrossel img.active {
    opacity: 0.3;
}

.topo-container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 2;
    width: 15%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    backdrop-filter: blur(10px);
}

.topo-logo {
    width: 250px;
    height: 250px;
}

.topo-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.logo-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.logo-face,
.logo-ins {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.fa-facebook,
.fa-instagram {
    color: #000;
    font-size: 36px;
    text-decoration: none;
    transition: all 1s;
}

.fa-facebook:hover,
.fa-instagram:hover {
    color: #F0910A;
    text-decoration: none;
    transition: all 1s;
}

.menu-container {
    width: 100%;
    height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
    gap: 30px;
}

.menu-title {
    color: #F0910A;
    font-size: 30px;
    font-weight: 300;
    padding-top: 20px;
    border-top: 2px solid orange;
}

.menu-text {
    color: #F0910A;
    font-size: 32px;
    font-weight: 700;
    padding: 20px;
    text-align: center;
    width: 50%;
}

.topo-imagem {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
    justify-items: center;
}

.imagem-container {
    position: relative;
    overflow: hidden;
}

.imagem-container img {
    width: 250px;
    height: 420px;
    object-fit: cover;
    clip-path: polygon(5% 0%, 100% 5%, 95% 100%, 0% 95%);
}

.info-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #F0910A;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    z-index: 2;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 1s ease;
    z-index: 1;
    clip-path: polygon(5% 0%, 100% 5%, 95% 100%, 0% 95%);
}

.imagem-container.active .overlay {
    opacity: 1;
}

.overlay-text {
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

.stats-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 50px;
    background-color: #f0f0f0;
}

.stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.stat-item i {
    font-size: 48px;
    color: #ff914d;
    margin-bottom: 10px;
}

.stat-number {
    font-size: 36px;
    font-weight: bold;
    color: #022e66;
}

.stat-item p {
    font-size: 20px;
    color: #666;
    width: 300px;
    text-align: center;
}

.video-container {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 160vh;
    gap: 20px;
    padding-top: 20px;
}

.video-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 20px;
}

.video-title {
    color: #F0910A;
    font-size: 30px;
    font-weight: 300;
    padding: 20px;
    border-top: 2px solid orange;
}

.video-text {
    color: #F0910A;
    font-size: 32px;
    font-weight: 700;
    padding: 20px;
    text-align: center;
    width: 70%;
}

.text-different {
    color: #ff370f;
    font-size: 34px;
}

.logo-container {
    position: relative;
    width: 100%;
    height: 30vh;
    padding: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #022e66;
}

.logo-title {
    width: 50%;
    text-align: center;
    color: #f0f0f0;
    font-size: 30px;
    font-weight: 500;
    padding: 10px;
}

.logo-list {
    display: flex;
    gap: 20px;
}

.logo-item {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-item img {
    width: 100%;
    height: auto;
    aspect-ratio: 3/2;
    object-fit: contain;
}

.contact-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
    background-color: #f7f7f7;
    align-items: center;
    padding-right: 150px;
}

.contact-title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid #25D366;
}

.contact-title {
    display: flex;
    align-items: center;
    width: 30%;
    height: 200px;
    text-align: center;
    color: #25D366;
    font-size: 36px;
}

.contact-item {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.contact-link {
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    text-decoration: none;
    padding: 15px 20px;
    background-color: #25D366;
    color: #ffffff;
    font-weight: bold;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.5s;
    position: relative;
    overflow: visible;
}

.image-wrapper {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.image-wrapper img {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: translateX(-20%);
}

.contact-link:hover {
    background-color: #1ebe59;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 60vh;
    position: relative;
    background: linear-gradient(to right, #5f5f5f, #b8b8b8)
}

.footer-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    gap: 50px;
}

.footer-item {
    height: 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
}

.footer-sociais {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 400px;
}

.footer-header {
    width: 350px;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #f7f7f7;
}

.fa-location-dot {
    font-size: 30px;
    color: #f7f7f7;
}

.footer-header h1 {
    font-size: 26px;
    color: #f7f7f7;
    font-weight: 500;
}

.footer-item p {
    font-size: 20px;
    color: #f7f7f7;
}

.footer-text {
    width: 350px;
    height: 40px;
    font-size: 26px;
    font-weight: 500;
    padding: 5px;
    color: #f7f7f7;
    border-bottom: 1px solid #f7f7f7;
}

.footer-item .footer-sociais i {
    font-size: 30px;
    color: #f7f7f7;
}

.copyright {
    grid-column: span 2;
    text-align: center; 
    position: absolute;
    bottom: 10px;
    left: 50%; 
    transform: translateX(-50%);
    width: 100%;
}

.copyright p {
    margin: 0;
    color: #f7f7f7;
    font-size: 14px;
}

.instagram-link {
    color: #F0910A; /* Cor do link, você pode ajustar conforme necessário */
    text-decoration: none; /* Remove sublinhado */
}

.instagram-link:hover {
    text-decoration: none; /* Adiciona sublinhado ao passar o mouse */
    color: #ff914d; /* Cor do link ao passar o mouse */
}